extend ../layout
block content
    .container  
            h1 Nueva Campaña  
        
            form.form#msform()  
                .row
                    <!-- progressbar -->
                    .col-md-4.col-md-offset-4
                        ul#progressbar
                            li.active Campaña Setup
                            li Campos
                            li Duplicados
                .row(style="position:relative;")
                    <!-- fieldsets -->               
                    fieldset.col-md-6.col-md-offset-3   
                        h2 Ingrese la información de una nueva campaña       
                        .col-md-12.form-group
                            label Nombre
                            input.form-control#nombrecamp(type="text")                
                        .col-md-6.form-group                        
                            label Fecha de Inicio
                            input.form-control#startcamp(type="text")
                        .form-group.col-md-6
                            label Fecha de cierre
                            input.form-control#endcamp(type="text")                        
                        input.btn.btn-success.next.action-button.col-md-4.col-md-offset-4(type="button" name="next" value="Siguiente")

                    fieldset.col-md-6.col-md-offset-3  
                        h2 Ingrese los campos que desea registrar                          
                        table.table.newcampana-table#newCampanaTable
                                thead
                                    tr
                                       th.col-xs-7 Campo 
                                       th.col-xs-3 Valor
                                       th.col-xs-2
                                tbody
                                    each campo in campana.fields||{}
                                        tr
                                            td #{campo.name}
                                            td #{campo.value}
                                            td 
                                                button(type="button" class="btn btn-sm btn-danger" onclick="deleteRow(this)")
                                                    span(class="glyphicon glyphicon-trash")
                        table.table.newcampana-table
                                    tr
                                        td.col-xs-7
                                            input.form-control(type="text")#campo
                                        td.col-xs-3
                                            input.form-control(type="number")#valor
                                        td.col-xs-2 
                                            button.btn.btn-sm.btn-info(type="button" onclick="addRow()")
                                                span.glyphicon.glyphicon-plus
                        input.btn.btn-success.previous.action-button.col-md-4(type="button" name="previous" value="Anterior")
                        input.btn.btn-success.next.action-button.col-md-4.col-md-offset-4(type="button" name="next" value="Siguiente")

                    fieldset.col-md-6.col-md-offset-3  
                        table(width="100%")
                            tbody
                                tr
                                    td(style='width:75%') Permitir registros de ventas duplicados en esta campaña
                                    td(valign="middle" align='left')
                                        div
                                            input.duplicadosCheckbox(type="checkbox")
                                            span
 
                        input.btn.btn-success.previous.action-button.col-md-4(type="button" name="previous" value="Anterior")
                        input.btn.btn-primary.submit.action-button.col-md-4.col-md-offset-4(type="button" name="submit" value="Guardar")

block scripts
    script(src="/js/jquery.easing.min.js")
    script.      

        $(document).ready(function() {
            
            var daterangeopt = {
                 format: 'YYYY-MM-DD',
                 startDate: moment(),
                 singleDatePicker:true,
                 locale: {
                     closeText: 'Cerrar',
                     prevText: '<Ant',
                     nextText: 'Sig>',
                     currentText: 'Hoy',
                     monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                     monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                     dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                     dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                     dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                     weekHeader: 'Sm',
                     dateFormat: 'dd/mm/yy',
                     firstDay: 1,
                     isRTL: false,
                     showMonthAfterYear: false,
                     yearSuffix: ''
                }
                 
            };
          $('#startcamp').daterangepicker(daterangeopt);
          $('#endcamp').daterangepicker(daterangeopt);
        });
        function addRow() {
            var valorcampo = $('#valor').val();
            if(!isNaN(parseInt(valorcampo))){
                $('#newCampanaTable tbody').append('<tr><td>'+$('#campo').val()+'</td><td>'+$('#valor').val()+'</td><td><button type="button" class="btn btn-sm btn-danger"onclick="deleteRow(this)"><span class="glyphicon glyphicon-trash"></span></button></td></tr>');
                $('#campo').val('');
                $('#valor').val('');
            } else {
                warningAlert('<strong>Atencion!</strong> Valor debe ser un número entero.');
            }
        } 
        function deleteRow(o) {
            o.closest('tr').remove()
        }

        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function(){
            var nombrecamp=$('#nombrecamp').val().trim();
            var startcamp=$('#startcamp').val().trim();
            var endcamp=$('#endcamp').val().trim();
            if(nombrecamp==null || nombrecamp=="" || startcamp==null || startcamp=="" || endcamp==null || endcamp==""){
                warningAlert('<strong>Atencion!</strong> Es necesario completar todos los campos.');
            } else {

                var checkDate = moment(startcamp).isBefore(endcamp);

                if(!checkDate){
                    warningAlert('<strong>Atencion!</strong> La fecha de inicio debe ser anterior a la fecha de cierre.');
                } else {
                    if(animating) return false;
                    animating = true;
                    
                    current_fs = $(this).parent();
                    next_fs = $(this).parent().next();
                    
                    //activate next step on progressbar using the index of next_fs
                    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
                    
                    //show the next fieldset
                    next_fs.show(); 
                    //hide the current fieldset with style
                    current_fs.animate({opacity: 0}, {
                        step: function(now, mx) {
                            //as the opacity of current_fs reduces to 0 - stored in "now"
                            //1. scale current_fs down to 80%
                            scale = 1 - (1 - now) * 0.2;
                            //2. bring next_fs from the right(50%)
                            left = (now * 50)+"%";
                            //3. increase opacity of next_fs to 1 as it moves in
                            opacity = 1 - now;
                            current_fs.css({'transform': 'scale('+scale+')'});
                            next_fs.css({'left': left, 'opacity': opacity});
                        }, 
                        duration: 800, 
                        complete: function(){
                            current_fs.hide();
                            animating = false;
                        }, 
                        //this comes from the custom easing plugin
                        easing: 'easeInOutBack'
                    });
                }
            }
        });

        $(".previous").click(function(){
            if(animating) return false;
            animating = true;
            
            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();
            
            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
            
            //show the previous fieldset
            previous_fs.show(); 
            //hide the current fieldset with style
            current_fs.animate({opacity: 0}, {
                step: function(now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1-now) * 50)+"%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({'left': left});
                    previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
                }, 
                duration: 800, 
                complete: function(){
                    current_fs.hide();
                    animating = false;
                }, 
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });

        $(".submit").click(function(){
            var dataTable = [];

            $('#newCampanaTable tbody tr').each(function(row, tr){
                dataTable[row]={
                      "name" : $(tr).find('td:eq(0)').text()
                    , "value" :$(tr).find('td:eq(1)').text()
                }
            });

            var camp = {
                name: $("#nombrecamp").val(),
                start:$("#startcamp").val(),
                end:$("#endcamp").val(),
                duplicados: $('.duplicadosCheckbox').is(':checked'),         
                fields: dataTable
            }

            $.ajax({
               type: "POST",
               data: camp,
               url: "/admin/campanas",
               success: function(response){
                 if(response.success){
                    console.log('success');
                    window.location = '/admin/campanas';
                 }
                 else{
                    errAlert('ha sucedido un error');
                 }
               }
            });
            
            return false;
        })




      