extend layout
block content
    .container
        form.col-md-6(id="updatepasswordform" method="post" action="/updatepassword" role="form")
            .page-header
              h3 Cambiar contraseña  
            .form-group
                in
                label(for="exampleInputEmail1") Antigua Contraseña
                input.form-control(type="password" , name="oldPassword")
            .form-group
                label(for="exampleInputEmail1") Nueva contraseña
                input.form-control(type="password", name="newPassword")
            .form-group
                label(for="exampleInputEmail1") Confirmar nueva contraseña
                input.form-control(type="password", name="confirmNewPassword")
            button.btn.btn-success(type="submit" form="updatepasswordform") Cambiar contraseña
block scripts
    script.
        $(document).ready(function(){
            $('#updatepasswordform').submit(function(evt){

                evt.preventDefault();

                var pass1 = $("#newPassword").val(); 
                var pass2 = $("#confirmNewPassword").val(); 
                
                if(pass1 == pass2 && pass1.length !== 0 && pass2.length !== 0){
                    var url = $(this).attr("action");
                    var formData = $(this).serialize();
                    $.ajax(url,{
                        data : formData ,
                        type : "POST",
                                    
                        success : function(response){ 
                            if(response.error){    
                                $('#errorm').html('<strong>'+response.error+'<strong>')
                                $('#errorm').show().fadeIn( "slow");                                                    
                            } else {
                                $('#errorm').hide().fadeOut( "slow"); 
                                $('form').hide().fadeOut( "slow"); 
                                $('#successm').show().fadeIn( "slow");                                                         
                            }
                        }
                    });
                } else {
                    warningAlert('La nueva contraseña y su confirmación no concuerdan') 
                }             
            });
        });
        