doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        title Renoboy | Plan de millas

        meta(name="description",content="Renoboy - Plan de millas")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(href="/favicon.png" rel="shortcut icon" type="image/png")  
        link(href="/css/bootstrap.css", rel="stylesheet")
        link(rel="stylesheet" href="/css/font-awesome.min.css")
        link(href="/css/style.css", rel="stylesheet")
    
    body
        <!-- Brand and toggle get grouped for better mobile display -->
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
            .container-fluid
                .navbar-header                
                    button.navbar-toggle(type="button",  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/vendedores") 
                        img.img-responsive(src="/img/logo.png" style="width:150px; margin-top:-35px;")
                <!-- Collect the nav links, forms, and other content for toggling -->
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li
                            a(href="/admin/campanas") Campañas
                        li
                            a(href="/admin") Distribuidores
                        li
                            a(href="/admin/vendedores") Vendedores
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href="/admin/config") 
                                i.glyphicon.glyphicon-cog
                                |   Configuración
                        li
                            a(href="/logout") 
                                i.glyphicon.glyphicon-log-out
                                |   Salir

            .alert.alert-success#success.navbar-fixed-top(style='width:100%; z-index:1031; display:none;')
                p.text-center(style='font-size: 1.2em') <strong>Exito!</strong> Tu informacion se ha guardado correctamente.  

            .alert.alert-warning#warning.navbar-fixed-top(style='width:100%; z-index:1031; display:none;')
                p.text-center#warning_p(style='font-size: 1.2em')

            .alert.alert-warning#error.navbar-fixed-top(style='width:100%; z-index:1031; display:none;')
                p.text-center#error_p(style='font-size: 1.2em') 
    
        block content        
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    script(src="/js/bootstrap.min.js")
    script(type="text/javascript" src="/js/moment.min.js")
    script(type="text/javascript" src="/js/es.js")
    script(type="text/javascript" src="/js/daterangepicker.js")
    script(type="text/javascript" src="/js/list.min.js")
    block scripts
    script(type="text/javascript").
        //------------------
        // ALERTS
        //------------------
        //Success alert   
        function successAlert(){
            $('#success').fadeIn('slow');
            setTimeout(function(){
                $('#success').fadeOut('slow');  
            }, 3500);                           
            $("body").css("cursor", "default"); // Change cursor to default                           
        }
        //Error alert   
        function errAlert(message){
            $('#error_p').html(message);
            $('#error').fadeIn('slow');
            setTimeout(function(){
                $('#error').fadeOut('slow');  
            }, 3500);                            
            $("body").css("cursor", "default"); // Change cursor to default                    
        }
        //Warning alert        
        function warningAlert(message){
            console.log('called');
            $('#warning_p').html(message);
            $('#warning').fadeIn('slow');
            setTimeout(function(){
                $('#warning').fadeOut('slow');;  
            }, 4000);                           
            $("body").css("cursor", "default"); // Change cursor to default                           
        }
        //------------------------------------------
        // configure dinamical search distributers
        //------------------------------------------
        var options1 = {
          valueNames: ['nit','fname','lname','email','ciudad','ultimo']
        };
        var distributerList = new List('distributer', options1);
        // configure dinamical search vendors
        var options2 = {
          valueNames: ['nit','fname','lname','ccvendedor','cargovendedor','emailvendedor','celularvendedor','direccionvendedor','ciudad']
        };
        var vendorsList = new List('vendors', options2);
        // configure dinamical search campanas
        var options3 = {
          valueNames: ['nombre','fechaAbertura','fechaCierre']
        };
        var campanaList = new List('campanas', options3);
        // configure dinamical search campanas
        var options4 = {
          valueNames: ['fecha','cc','nombre', 'registro']
        };
        var salesCampanaList = new List('salesCampanas', options4);
        // configure dinamical search campanas
        var options5 = {
          valueNames: ['nit','fecha','cc','nombre', 'registro']
        };
        var salesHistorialList = new List('historialTotal', options5);
        //configure export table to excel
        var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name, filename) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }

            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();

            }
        })()

        
