doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Renoboy | Plan de millas

    meta(name="description",content="Renoboy - Plan de millas")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="favicon.png" rel="shortcut icon" type="image/png")  
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
    
  body.bg    
    .col-md-12.header
        .col-md-2.col-md-offset-5
            img.logo(src="/img/logo.png")
    .container
        .col-md-4.col-md-offset-1.textoLoginPanel.hidden-xs
            h1.white.login Ocurrio un problema. Intentalo mas tarde
            h2.green.login 404
            p Si continua teniendo dificultades por favor contáctese con RENOBOY a los teléfonos:
            p 
                |   Tel: 742 - 2779
                br 
                |   Fax: 570-1630 
                br
                |   Línea de atención: 01 8000 510141
        
    .footer
        .container
            p.text-muted © 2015 Todos los derechos reservados.
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    script(src="/js/bootstrap.min.js")