doctype
html.no-js(lang="en")
  head
    meta(charset="utf-8")        
    meta(content="width=device-width, initial-scale=1" name="viewport")   
    meta(name ="description" content="Diseñamos y desarrollamos estrategias personalizadas para implementar nuevas interacciones y tecnologías robustas en las diferentes etapas de la experiencia del cliente en tu empresa.")
    title Creacion de paginas web, desarrollo aplicaciones móviles y experiencias digitales, Bogota. Canned Head

    <!-- FAVICON -->
    link(href="https://s3-sa-east-1.amazonaws.com/cannedhead.canned/img/16x16.png" rel="shortcut icon" type="image/png") 

    <!-- CSS --> 
    link(href="/css/bootstrap.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
  body
    h1 404 Not Found