doctype
html.no-js(lang="es")
  head
    meta(charset="utf-8")        
    meta(content="width=device-width, initial-scale=1" name="viewport")   
    meta(name ="description" content="Leads")
    title Dashboard

    <!-- FAVICON -->
    link(href="#") 

    <!-- CSS --> 
    link(href="/css/bootstrap.min.css", rel="stylesheet")
    link(href="/css/style.css", rel="stylesheet")
  body

    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="/js/bootstrap.min.js")

    block scripts