extend layout
block content
    .login
        .layer
            .container
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                h1.text-center.title 
                        a(href="#").switch.active Login  
                        a(href="#").switch Sign Up  
                form.form  
                    .form-group                    
                        label.sr-only(for='inputEmail') Email     
                        input#inputEmail.form-control(type='email', placeholder='Email', required='', autofocus='')        
                    .form-group
                        label.sr-only(for='inputPassword') Password   
                        input#inputPassword.form-control(type='password', placeholder='Password', required='')    
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Login
                    p
                      .pull-right
                        a(data-toggle="modal", data-target="#forgotPswdModal", href="/#",data-dismiss="modal") Forgot Password?
                form.form.hidden
                    .form-group                    
                        label.sr-only(for='inputEmail') Name     
                        input#inputName.form-control(type='text', placeholder='Name', required='', autofocus='') 
                    .form-group                    
                        label.sr-only(for='inputEmail') Email      
                        input#inputEmail.form-control(type='email', placeholder='Email', required='')        
                    .form-group
                        label.sr-only(for='inputPassword') Choose Password   
                        input#inputPassword.form-control(type='password', placeholder='Choose Password', required='') 
                    .form-group
                        label.sr-only(for='inputPassword') Password Again   
                        input#inputPassword.form-control(type='password', placeholder='Password Again', required='') 
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
                    p
                      .pull-right
                        p
                            |   Already have an account?
                            a(data-toggle="modal", data-target="#forgotPswdModal", href="/#",data-dismiss="modal")  Login
    <!-- Forgot Password Modal -->
    .modal.fade#forgotPswdModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;     
                    h4.modal-title ¿Olvidó su contraseña?                                    
                .modal-body
                    form(action="/reset-password",method="post", role="form")
                        p Ingrese su direccion de correo asociada a su cuenta, y nosotros enviaremos un correo con las instrucciones.
                        .form-group   
                            label(for="email") Email                          
                            input#email.form-control(type="email",name="email" ,placeholder="Email")
                        br                        
                        .form-group
                            input.btn.btn-primary.btn-block.btn-lg(type="submit" value="Enviar") 
block scripts
    script.
        $('.switch').on('click', function(e) {
          $('.form').toggleClass("hidden"); 
          $('.switch').toggleClass("active"); 
          e.preventDefault();
        });
