extend layout
block content
    .container
        ol.breadcrumb
            li    
                a(href="/vendedores")  Vendedores 
            li.active  #{user.nit} 
            li.active  Nuevo
            
        .row
        form#newvendorform(action="/vendedores" method="post")
            .col-md-12
                .col-md-6                        
                    .form-group
                        input(type="hidden" name= "distribuidor" value="#{user._id}")   
                        input(type="hidden" name= "nit" value="#{user.nit}") 
                        label Nombre 
                        input.form-control(type="text" name="nombre" required)  
                    .form-group
                        label Apellido
                        input.form-control(type="text" name="apellido" required)
                    .form-group
                        label Identificación
                        input.form-control#identificacion(type="text" name="identificacion" required)
                    .form-group
                        label Confirmar identificación
                        input.form-control#confirmidentificacion(type="text" name="confid" required)  
                    .form-group.col-md-6
                        label PA                            
                            input.form-control(type="number" name="pa" required min="80")  
                .col-md-6
                    .form-group
                        label Cargo
                        select.form-control(name="cargo" required)
                            option(value="ASESOR COMERCIAL") ASESOR COMERCIAL
                            option(value="JEFE DE SERVICIO") JEFE DE SERVICIO
                            option(value="VENDEDOR") VENDEDOR
                            option(value="ASESOR DE VENTAS") ASESOR DE VENTAS
                            option(value="ADMINISTRADOR") ADMINISTRADOR
                            option(value="JEFE DE VENTAS") JEFE DE VENTAS
                            option(value="DIRECTOR") DIRECTOR
                            option(value="GERENTE COMERCIAL") GERENTE COMERCIAL
                            option(value="ASESOR TÉCNICO COMERCIAL") ASESOR TÉCNICO COMERCIAL
                            option(value="PROGRAMADOR DE MANTENIMIENTO") PROGRAMADOR DE MANTENIMIENTO
                            option(value="GERENTE GENERAL") GERENTE GENERAL
                            option(value="GERENTE") GERENTE
                            option(value="JEFE DE PATIO") JEFE DE PATIO
                            option(value="DIRECTOR COMERCIAL") DIRECTOR COMERCIAL
                            option(value="RESPONSABLE TECNICO COMERCIAL") RESPONSABLE TECNICO COMERCIAL
                            option(value="GERENTE DE PROYECTO") GERENTE DE PROYECTO
                            option(value="ALMACENISTA") ALMACENISTA
                            option(value="COORDINADOR COMERCIAL") COORDINADOR COMERCIAL
                            option(value="EQUIPO DE APOYO") EQUIPO DE APOYO

                    .form-group
                        label Email
                        input.form-control(type="email" name="email" required)  
                    .form-group
                        label Celular
                        input.form-control(type="text" name="celular" pattern="[0-9]{10}" required)                            
                    .form-group
                        label Ciudad
                        select.form-control(name="ciudad" required)
                            option(value="Aguachica") Aguachica
                            option(value="Armenia") Armenia
                            option(value="Bogota") Bogotá
                            option(value="Barrancabermeja") Barrancabermeja 
                            option(value="Barranquilla") Barranquilla
                            option(value="Bucaramanga") Bucaramanga
                            option(value="Cucuta") Cucuta 
                            option(value="Cali") Cali
                            option(value="Cartagena") Cartagena
                            option(value="Duitama") Duitama
                            option(value="Florencia") Florencia 
                            option(value="Fusagasuga") Fusagasuga
                            option(value="Ibague") Ibague
                            option(value="Manizales") Manizales
                            option(value="Medellin") Medellin 
                            option(value="Neiva") Neiva
                            option(value="Ocaña") Ocaña
                            option(value="Pasto") Pasto
                            option(value="Pereira") Pereira
                            option(value="Sogamoso") Sogamoso
                            option(value="Tulua") Tulua
                            option(value="Tunja") Tunja
                            option(value="Ubate") Ubate
                            option(value="Villavicencio") Villavicencio 
                    .form-group
                        label Direccion de residencia
                        input.form-control(type="text" name="direccion" required) 
                .col-md-12
                    hr 
                    .pull-right
                        button.btn.btn-success(type="submit") Ingresar
block scripts
    script.
        $(document).ready(function(){
            $('#newvendorform').submit(function(evt){

                evt.preventDefault();

                var id1 = $("#identificacion").val(); 
                var id2 = $("#confirmidentificacion").val(); 
                
                if(id1 == id2 && id1.length !== 0 && id2.length !== 0){
                    var url = $(this).attr("action");
                    var formData = $(this).serialize();
                    $.ajax(url,{
                        data : formData ,
                        type : "POST",
                                    
                        success : function(response){ 
                            if(response.error){  
                                 errAlert('Ha ocurrido un error. Por favor intentelo mas tarde') 
                            } else {
                                window.location = '/vendedores';
                            }
                        }
                    });
                } else {
                    errAlert('Campo de identificación no concuerda') 
                }             
            });
        });